/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

* {
    
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;   
}

body {
    
    min-height: 100vh;
    background-color: gold;
    position: relative;
    color: snow;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mountains of Christmas', cursive;
}

h1 {
    font-size: 3pc;
}

h6 {
    font-size: 0.80pc;
}

.background {
    position: relative;
    z-index: 1;
}

.background-element {
    position: absolute;
}

.foreground {
    position: absolute;
    z-index: 100;
}

.container {
    padding: 20px;
}

.full {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}

.horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.controls-top {
    width: 100vw;
    position: absolute;
    z-index: 200;
    top: 0;
    height: 75px;
}

.controls-bottom {
    width: 100vw;
    position: absolute;
    z-index: 200;
    bottom: 0;
    height: 75px;
}


.text-field {
    padding: 7px;
    border: none;
    text-align: left;
    background-color: transparent;
    color: snow;
    border-radius: 5px;
    border-bottom: 2px solid snow;   
    background-color: rgba(0, 0, 0, 0.1);
}

.text-area {
    padding: 7px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: transparent;
    color: snow;
    border-radius: 5px;
    border-bottom: 2px solid snow;   
}

::-webkit-input-placeholder {
    color: rgb(255, 212, 212);
    opacity: 1;
}

::-moz-placeholder {
    color: rgb(255, 212, 212);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgb(255, 212, 212);
    opacity: 1;
}

::-ms-input-placeholder {
    color: rgb(255, 212, 212);
    opacity: 1;
}

::placeholder {
    color: rgb(255, 212, 212);
    opacity: 1;
}
  
::-ms-input-placeholder {
   color: rgb(255, 212, 212);
}
  
::-ms-input-placeholder {
   color: rgb(255, 212, 212);
}

.text-field:focus {
    border: none;
    color: snow;
    border-radius: 5px;
    border-bottom: 2px solid rgb(235, 56, 53);
    outline: none;
}

.button, button {
    background-color: snow;
    color: rgb(214,51,48);
    border-radius: 5px;
    text-align: center;
    border: hidden;
    padding: 7px;
}

.button:focus, button:focus {
    border: hidden;
    outline: hidden;
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(255, 135, 133);
}

input {
    outline: hidden;
}

.button:hover, button:hover {
    background-color: rgb(214,51,48);
    color: snow;
}

.box {
    border-radius: 10px;
}

#audio-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 4pc;
    }
    
    h6 {
        font-size: 1.5pc;
    }
    
}