#error {
    display: -ms-grid;
    display: grid;
    position: absolute;
    -ms-grid-rows: 1fr 20px 3fr 20px 2fr 20px 1fr;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    -ms-grid-columns: 1fr 20px 7fr 20px 1fr;
    grid-template-columns: 1fr 7fr 1fr;
    gap: 20px;
}#error > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}#error > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}#error > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}#error > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}#error > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}#error > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}#error > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}#error > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}#error > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}#error > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}#error > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}#error > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}

#error-box {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(214,51,48);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}