/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#play {
    display: -ms-grid;
    display: grid;
    position: absolute;
    -ms-grid-rows: 1fr 20px 3fr 20px 2fr 20px 1fr;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    -ms-grid-columns: 1fr 20px 7fr 20px 1fr;
    grid-template-columns: 1fr 7fr 1fr;
    gap: 20px;
}#play > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}#play > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}#play > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}#play > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}#play > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}#play > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}#play > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}#play > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}#play > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}#play > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}#play > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}#play > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}

#description {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(214,51,48);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#options {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-self: flex-start;
}

.option {
    width: 100%;
}

#info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    position: relative;
    height: 35px;
    top: 0;
}

#info-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

#inventory-button, #close-inventory-button {
    width: 35px;    
}

#info h3 {
    line-height: 200%;
}

.inventory {
    background-color: #624a2e;
    
}

#items {
    scrollbar-width: auto;
    scrollbar-color: #624a2e;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-gutter: stable;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
}

.item {
    width: 66px;
}

.item:hover {
    border: solid 5px transparent;
}

.item:focus {
    border: solid 5px transparent;
}

.tool {
    display: none;
    background-color: rgb(214,51,48);
    color: snow;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
}

.tool[data-show] {
    display: block;
}

.inventory #info {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

.inventory #info h3 {
    visibility: hidden;
}

.inventory #info #inventory-button {
    visibility: hidden;
}

#info #close-inventory-button {
    display: none;
    visibility: collapse;
}

.inventory #info #close-inventory-button {
    display: inline;
    visibility: visible;
}

.popup {
    position: absolute;
    z-index: 300;
}

#item-popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00000066;
}

#item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px;
    width: 75vw;
    background-color: rgb(214,51,48);
}

@media only screen and (min-width: 768px) {
    .text-block { 
        width: 50%;
    }

    #play {
        -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    }

    #item-info {
        width: 50vw;
    }

}
