/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#ribbon {
    width: 15pc;
    height: 15pc;
    top: 10vh;
    left: calc(50vw - 7.5pc);
    background: rgb(0,0,0, 0);
    background: -o-radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0, 0, 0, 0) 60%);
    background: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0, 0, 0, 0) 60%);
    z-index: 4;
}

.ribbon {
    background: rgb(214,51,48);
    background: -o-repeating-linear-gradient(45deg, rgba(214,51,48,1) 0%, rgb(173, 31, 29) 15%, rgba(214,51,48,1) 45%);
    background: repeating-linear-gradient(45deg, rgba(214,51,48,1) 0%, rgb(173, 31, 29) 15%, rgba(214,51,48,1) 45%);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#vertical-ribbon {
    width: 5pc;
    height: 100vh;
    top: 0;
    left: calc(50vw - 2.5pc);
    z-index: 2;
}

#horizontal-ribbon {
    height: 5pc;
    width: 100vw;
    top: calc(10vh + 7.5pc - 2.5pc);
    left: 0;
    z-index: 3;
}

#title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#start-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    text-align: center;
}