{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>THE LAST GIFT</title>
		<link rel="shortcut icon" type="image/png" href={% static 'images/favicon.png' %}>
		<link href={% static 'styles/base.css' %} rel="stylesheet">
        <link href={% static 'styles/error.css' %} rel="stylesheet">
	</head>
    <body>
        <section id="error" class="full foreground">
            <div id='error-box' class="box vertical container">
                <h2>ERROR 404</h2>
                <p>
                    You should not be here. Go back to where you were. You won't help Christmas here.
                </p>
            </div>
        </section>
    </body>
</html>