{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>THE LAST GIFT</title>
		<link rel="shortcut icon" type="image/png" href={% static 'images/favicon.png' %}>

		<link href={% static 'styles/base.css' %} rel="stylesheet">
		{% block css %}
		{% endblock css %}
		<!-- Don't go to www.sigmathelastgift.com/secret -->
	</head>
	<body>
		<audio id='game-audio' autoplay muted loop>
			<source id='audio-mp3' src='{{song}}.mp3' type="audio/mpeg">
			<source id='audio-ogg' src='{{song}}.ogg' type="audio/ogg">
			Your browser does not support the audio element.
	  	</audio>

		<section id='audio-controls' class="container controls-top">
			<img id='audio-button' class='button' tabindex='1' src={% static 'images/mute_red.png' %} />
		</section>

		{% block content %}
		{% endblock content %}

		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		{% comment %} <script src="https://code.jquery.com/mobile/1.5.0-rc1/jquery.mobile-1.5.0-rc1.min.js" integrity="sha256-c3VbCrdCtTHmXYAuxRT4D0Cy5VC/0zBnXVRIvJiV9xo=" crossorigin="anonymous"></script> {% endcomment %}
		<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
		<script type="text/javascript" src={% static 'scripts/audio.js'%}></script>
		{% block scripts %}
		{% endblock scripts %}
	</body>
</html>
