{% extends 'play.html' %}
{% load static %}

{% block description %}
<p>
    You see, Alex starts to freak out. He remembers some things. You then start seeing Ador fade away, almost becoming transparent. After a while, Ador is gone but is replaced by Alex. Alex, with all his memories. Alex tells everyone to stop. Christmas is saved.
</p>
<p>
    I hope you enjoyed your gift. If you didn't find your letter then click the inventory now and you should have them all.
</p>
<p>
    The project was made by me. I planned to give this as a gift last year but pushed it off. This gift is a Christmas gift and a graduation thank you gift. I could not have gotten this far without all of you.
</p>
<p>
    Special thanks to Milko for giving feedback and idea (he came up with some random names). Special thanks to Bean for giving the idea without knowing. Special thanks to Aznella and Kristy for making sure I finish.
</p>
{% endblock description %}
