{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'styles/letter.css' %}>
{% endblock css %}

{% block content %}
<section id="letter" class="full foreground">
    <form id='letter-box' class="box vertical container" action="{% url 'make' %}" method="post">
        <p id='final-info' class="container">
        You either found Alex or going to use this as your last resort. Write a letter to Alex to help him remember who he is.
        </p>
        {% csrf_token %}
        {{ form }}
        <input class="button" type="submit" value="SEND">
    </form>
</section>
{% endblock content %}
