{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'styles/play.css' %}>
{% endblock css %}

{% block content %}
<section id="play" class="foreground full">
    <section id="description" class="box container vertical">
    {% block description %}
        <h2 id="blurb">
            {{ blurb }}
        </h2>
        <p id="words">
            {{ words }}
        </p>
    {% endblock description %}
    </section>
    <section id="options" class="container vertical">
        {% for option in options %}
        <button type="button" class="option" data-id={{option.id}}>
           {{ option.blurb }}
        </button>
        {% endfor %}
    </section>
</section>
<footer id='info-background' class='container vertical controls-bottom'>
    <section id='info' class='horizontal'>
        <h3>CODE: {{ player.code | upper }}</h3>
        <img id='inventory-button' class='button' tabindex='44' src={% static 'images/bag_red.png' %} />
        <img id='close-inventory-button' class='button' tabindex='45' src={% static 'images/close_red.png' %} />
    </section>
</footer>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src={% static 'scripts/option.js'%}></script>
    <script type="text/javascript" src={% static 'scripts/item.js'%}></script>
    <script type="text/javascript" src={% static 'scripts/inventory.js'%}></script>
{% endblock scripts %}
