{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'styles/start.css' %}>
{% endblock css %}

{% block content %}
<section class="background full">
    <img id="ribbon" class="background-element" src={% static 'images/gift_ribbon.png' %}>
    <div id="vertical-ribbon" class="background-element ribbon"></div>
    <div id="horizontal-ribbon" class="background-element ribbon"></div>
</section>
<section id="title" class='foreground full'>
    <form id="start-form" method="POST" action="{% url 'play' %}" class="box vertical container">
            <h1>THE LAST GIFT</h1>
            <h6>MADE BY ALEXANDER SCHMIDT</h6>
            {% csrf_token %}
            {{ form }}
            {% if error %}
            <h6 id="error-message">{{ error }}</h6>
            {% endif %}
            <input class="button" type="submit" value="BEGIN">
    </form>
</section>
{% endblock content %}